<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% Title %}</title>
    <link rel="stylesheet" href="css/table_styles.css">
</head>
<body>
    <div>
        <h1 class="header">{% Title %}</h1>
    </div>
    <div id="volume">
        {% VolumeGraph %}
        <div class="tables">
            {% VolumeTable3 %}
            <br>
            {% VolumeTableA %}
        </div>
    </div>
    <div id="price">
        {% PriceGraph %}
        <div class="tables">
            {% PriceTableA %}
        </div>
    </div>
    <div id="wac">
        {% WacGraph %}
        <div class="tabls">
            {% WacGraphA %}
            <br>
            {% WacGraphB %}
            <br>
            {% WacGraphC %}
        </div>
    </div>
</body>
</html>