<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drug Curve</title>
    (% print %)
</head>
<body>
    <div>
        <h1 class="header">(% Title %)</h1>
    </div>
    <div id="volume">
        <div class="image">(% VolumeGraph %)</div>
        <div class="tables">(% VolumeTables %)</div>
    </div>
    <div id="price">
        <div class="image">(% PriceGraph %)</div>
        <div class="tables">(% PriceTables %)</div>
    </div>
    <div id="wac">
        <div class="image">(% WacGraph %)</div>
        <div class="tables">(% WacTables %)</div>
    </div>
</body>
</html>