<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tables</title>
    <link rel="stylesheet" href="css/table_styles.css">
</head>
<body>
    <table class="one">
        <tbody>
            <tr class="monthly">
                <td class="top-left"></td>
                <td colspan="3">
                    Norepinephrine Monthly U.S. Vials
                    <br>
                    Month Ended:
                </td>
            </tr>
            <tr class="monthly">
                <td>Drug</td>
                <td>
                    MONTH INPUT 3
                    <br>
                    (date)
                </td>
                <td>
                    MONTH INPUT 2
                    <br>
                    (date)
                </td>
                <td>
                    MONTH INPUT 1
                    <br>
                    (date)
                </td>
            </tr>
            <tr>
                <td>Drug 1</td>
                <td>xxx</td>
                <td>yyy</td>
                <td>zzz</td>
            </tr>
            <tr>
                <td>Drug 2</td>
                <td>xxx</td>
                <td>yyy</td>
                <td>zzz</td>
            </tr>
            <tr>
                <td>Drug 3</td>
                <td>xxx</td>
                <td>yyy</td>
                <td>zzz</td>
            </tr>
            <tr>
                <td>Drug 4</td>
                <td>xxx</td>
                <td>yyy</td>
                <td>zzz</td>
            </tr>
            <tr>
                <td>Drug 5</td>
                <td>xxx</td>
                <td>yyy</td>
                <td>zzz</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>Sub Total</td>
                <td>Sub Total</td>
                <td>Sub Total</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="two">
        <tbody>
            <tr>
                <td>Drug</td>
                <td>
                    Annualized Vials
                    <br>
                    (Based on Trailing 1 Month)
                </td>
                <td>% of Vials</td>
            </tr>
            <tr>
                <td>Norepinephrine (Claris)</td>
                <td>5,278,116</td>
                <td class="percentage-column">62%</td>
            </tr>
            <tr>
                <td>Norepinephrine (Claris)</td>
                <td>5,278,116</td>
                <td class="percentage-column">62%</td>
            </tr>
            <tr>
                <td>Norepinephrine (Claris)</td>
                <td>5,278,116</td>
                <td class="percentage-column">62%</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>5,278,116</td>
                <td class="percentage-column">62%</td>
            </tr>
        </tbody>
    </table>
</body>
</html>