<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/table_styles.css">
</head>
<body>
    <div>
        <h1 class="header">Norepinephrine U.S. Market</h1>
    </div>
    <div id="volume">
        <img src="../_norepinephrine/reports/volume.png">
        <div class="tables">
            <table class="report volume wide">
                <thead>
                    <tr>
                        <th></th>
                        <th colspan="3">
                            Norepinephrine Monthly U.S. Vials
                            <br>
                            Month Ended:
                        </th>
                    </tr>
                    <tr>
                        <th>Drug</th>
                        <th>
                            MONTH INPUT 3
                            <br>
                            (date)
                        </th>
                        <th>
                            MONTH INPUT 2
                            <br>
                            (date)
                        </th>
                        <th>
                            MONTH INPUT 1
                            <br>
                            (date)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Drug 1</td>
                        <td>xxx</td>
                        <td>yyy</td>
                        <td>zzz</td>
                    </tr>
                    <tr>
                        <td>Drug 2</td>
                        <td>xxx</td>
                        <td>yyy</td>
                        <td>zzz</td>
                    </tr>
                    <tr>
                        <td>Drug 3</td>
                        <td>xxx</td>
                        <td>yyy</td>
                        <td>zzz</td>
                    </tr>
                    <tr>
                        <td>Drug 4</td>
                        <td>xxx</td>
                        <td>yyy</td>
                        <td>zzz</td>
                    </tr>
                    <tr>
                        <td>Drug 5</td>
                        <td>xxx</td>
                        <td>yyy</td>
                        <td>zzz</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>Sub Total</td>
                        <td>Sub Total</td>
                        <td>Sub Total</td>
                    </tr>
                </tbody>
            </table>
            <table class="report">
                <thead>
                    <tr>
                        <th>Drug</th>
                        <th>
                            Annualized Vials
                            <br>
                            (Based on Trailing 1 Month)
                        </th>
                        <th>% of Vials</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Norepinephrine (Claris)</td>
                        <td><span style="float: left;">$</span>5,278,116</td>
                        <td>62%</td>
                    </tr>
                    <tr>
                        <td>Norepinephrine (Claris)</td>
                        <td>$5,278,116</td>
                        <td>62%</td>
                    </tr>
                    <tr>
                        <td>Norepinephrine (Claris)</td>
                        <td>$5,278,116</td>
                        <td>62%</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>$5,278,116</td>
                        <td>62%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="price">
        <img src="../_norepinephrine/reports/price.png">
        <div class="tables"></div>
    </div>
    <div id="wac">
        <img src="../_norepinephrine/reports/wac.png">
        <div class="tables"></div>
    </div>
</body>
</html>