body {
    font-family: "Open Sans";
}
h1 {
    margin: 0 18.5%;
    font-size: 20px;
}
td, th {
    font-size: 12px;
}
img {
    border: 1px solid lightgray;
}
table.report {
    border-collapse: collapse;
    table-layout: fixed;
    margin: 0 4%;
}
table.report tr:first-child th {
    background-color: rgb(51, 63, 79);
    border: 1px solid black;
    color: white;
    text-align: center;
}
table.report tbody tr:last-child {
    border-top: 2px solid black;
}
table.report tr:last-child td {
    background-color: rgb(221, 235, 247);
    border-bottom: 3px solid black;
}
table.report td {
    border: 1px solid black !important;
    text-align: right;
    padding: 0 1% 0 1%;
}
table.report td:first-child {
    text-align: center;
}
table.report td:last-child {
    text-align: center;
}
table.report.volume tr:first-child th {
    background-color: rgb(221, 235, 247);
    color: black;
}
table.report.volume tr:nth-child(2) th {
    background-color: rgb(51, 63, 79);
    color: white;
    border: 1px solid black;
    text-align: center !important;
}
table.report.volume td:last-child {
    text-align: right;
}
table.report.volume tr:first-child th:first-child {
    background-color: transparent;
    border: none;
}
div.tables table:first-child {
    width: 725px;
}
div.tables table:nth-child(3) {
    width: 544px;
}
