body {
    font-family: "Open Sans";
}
h1 {
    text-align: center;
    font-size: 22px;
    margin: 0 auto;
}
td, th {
    font-size: 12px;
}
img {
    border: 1px solid lightgray;
    margin-top: 8px;
}
table.report {
    border-collapse: collapse;
    table-layout: fixed;
    margin: 10px 4% 7px;
}
table.report tr:first-child th {
    background-color: rgb(51, 63, 79);
    border: 1px solid black;
    color: white;
    text-align: center;
}
table.report tbody tr:last-child {
    border-top: 2px solid black;
}
table.report tr:last-child td {
    background-color: rgb(221, 235, 247);
    border-bottom: 3px solid black;
}
table.report td {
    border: 1px solid black !important;
    text-align: right;
    padding: 0 1% 0 1%;
}
table.report td:first-child {
    text-align: center;
}
table.report td:last-child {
    text-align: center;
}
table.report.volume tr:first-child th {
    background-color: rgb(221, 235, 247);
    color: black;
}
table.report.volume tr:nth-child(2) th {
    background-color: rgb(51, 63, 79);
    color: white;
    border: 1px solid black;
    text-align: center !important;
}
table.report.volume td:last-child {
    text-align: right;
}
table.report.volume tr:first-child th:first-child {
    background-color: transparent;
    border: none;
    -webkit-backface-visibility: hidden;
}
table.report.extended_est td:last-child {
    text-align: right !important;
}

table.report.extended_est td:nth-child(3) {
    text-align: center !important;
}
p.footnote {
    font-size: 12px;
    margin: -8px 4% 0;
}
div.tables table.wide {
    width: 725px !important;
}
div.tables table {
    width: 544px !important;
}
@media print {
    @page {
        margin: 3%;
    }
}