table {
    border-collapse: collapse;
    table-layout: fixed;
}
table.one {
    width: 900px;
    height: 300px;
}
table.two {
    width: 650px;
    height: 200px;
}
td {
    border: 1px solid black;
    text-align: right;
    padding: 0 1% 0 1%;
}
td:first-child {
    text-align: center;
}
tr:first-child td {
    text-align: center;
    vertical-align: center;
    background-color: rgb(51, 63, 79);
    color: white;
}
tr:nth-child(1).monthly td {
    text-align: center;
    vertical-align: center;
    background-color: rgb(221, 235, 247);
    color: black;
}
tr:nth-child(2).monthly td {
    text-align: center;
    vertical-align: center;
    background-color: rgb(51, 63, 79);
    color: white;
}
tr:last-child {
    border-top: 2px solid black;
    background-color: rgb(221, 235, 247);
}
.top-left {
    border: none;
    background-color: transparent !important;
}
.percentage-column {
    text-align: center !important;
    vertical-align: center !important;
}